body {
    background: #424b51;
}
section {
    padding: 30px 0;
    background: white;
}

p {
  margin-bottom: 1em;
}

.home .grigio {
    padding-bottom: 30px;
    padding-top: 40px;
}
section.grigio {
    background: #ebeeed;
}

.home .presentazione {
    text-align: center;
    margin-bottom: 35px;
}

.home .presentazione h2 {
    margin-top: 0;
}

.media {
    background: #fff;
    border-bottom: solid 1px #c7c9c8;
    margin-bottom: 30px;
}

.media a {
    overflow: hidden;
}

.btn {
    background: transparent;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.media-body {
    padding: 16px 30px 10px 26px;
    margin-right: 0;
}

.item-thumb {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
    &:hover {
        .item-inner {
            display: block;
            cursor: pointer;
        }
        a img {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
    }
    .item-inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        display: none;
        background-color: #000;
        opacity: 0.8;
        .item-detail {
            text-align: center;
            display: table;
            width: 100%;
            height: 100%;
            .item-content {
                display: table-cell;
                vertical-align: middle;
                padding: 0 15px;
                color: #fff;
                letter-spacing: 0.2em;
            }
        }
    }
    a img {
        display: inline-block;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.footer-col > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
}

.footer-title {
    font-size: 14px;
    padding: 0 0 10px;
    margin: 0 0 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.side-image-text {
    padding: 60px 60px 50px;
    color: #666;
    .module-title {
        margin: 0 0 30px;
    }
    .module-subtitle {
        font-style: italic;
        font-size: 14px
    }
    .module-line{
        background: #49e2d6;
        height: 1px;
        width: inherit;
        margin: 30px 0;
    }
    .iconboxleft {
        position: relative;
        margin: 0 0 50px;
        .iconboxleft-icon {
            position: absolute;
            width: 55px;
            left: 0;
            top: 0;
            font-size: 32px;
            line-height: 1;
        }
        .iconboxleft-text {
            padding-left: 55px;
            .iconboxleft-title {
                margin: 0 0 15px;
                padding: 0;
                font-size: 13px;
                letter-spacing: 1px;
            }
        }
    }
    h2, h3 {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #222;
    } 
}

@import 'navbar';
@import 'header';
@import 'team';