<footer id="footer" style="background-color: #272b31; color: #fff; padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="footer-col">
                    <h5 class="footer-title">About Particle4dev</h5>
                    <p>The languages only differ in their grammar, their pronunciation and their most common words.The languages only differ in their grammar</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="footer-col">
                    <h5 class="footer-title">Contact Us</h5>
                    <p>Phone: +1 234 567 89 10
                        <br>Fax: +1 234 567 89 10</p>
                    <p>Email: <a href="#!">somecompany@example.com</a></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <h5 class="footer-title">Social</h5>
                <ul class="social list-inline">
                    <li><a href="#!" style="border-radius: 50%;"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#!" style="border-radius: 50%;"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#!" style="border-radius: 50%;"><i class="ion-social-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>